body, html, div {
    margin: 0;
}

#container {
}

.lang:hover {
    background-color: #f7f7f7; /*#323437;*/
}
.lang {
    position: relative;
    padding: 5px;
    border-radius: 2px;
    border-bottom: 1px dashed #000;
}

.langHead {
    padding: 1;
    font-size: 10pt;
}

.langName {
    display: inline-block;
    position: absolute;
    left: 5px;
}

.langStats {
    position: absolute;
    display: inline-block;
    right: 5px;
}

.progressOuter {
    margin-top: 5px;
    margin-bottom: 3px;
    width: 100%;
    /* background-color: #fff; */
    height: 10px;
    border-radius: 0px;
    overflow: hidden;
    border-right: 1px solid black;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkwAQ+jGhiPgwMDFuQBcECIEUwQbgATBBFACQIALmgBFKywiuGAAAAAElFTkSuQmCC) repeat;
}

.progressInner {
    background-color: #ff0000;
    height: 100%;
}

.repoStats {
    font-size: 8pt;
}

.repoName {
    text-align: left;
    display: inline-block;
    color: inherit;
    width: 20%;
}

.repoCode {
    display: inline-block;
    width: 10%;
}

.repoProgress {
    display: inline-block;
    width: 70%;
}

.perRepoStats {
    width: 100%;
}

#projectscontainer {
    vertical-align:top;
    display: inline-block;
    width: 70%;
}

#languagestatscontainer {
    vertical-align:top;
    display: inline-block;
    width: 50%;
    margin: auto;
}

#quote_outer {
    font-size: 10pt;
    padding-bottom: 5px;
    border-bottom: 1px dashed #000;
}

#quote {
    margin: auto;
    width: 50%;
    text-align: left;
    /* border-top: 1px dashed #000; */
}

#contentcontainer {
    text-align: center;
    padding-top: 50px;
}

#hint {
    font-size: 10px;
}